<p id="notice"><%= notice %></p>

<p>
  <strong>Gyártó:</strong>
  <%= @car.manufacturer %>
</p>

<p>
  <strong>Típus:</strong>
  <%= @car.car_type %>
</p>

<p>
  <strong>Kép:</strong>
  <img src=<%= @car.cover %>></img>
</p>

<p>
  <strong>Gyártási év:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Üzemanyag:</strong>
  <%= @car.engine %>
</p>

<p>
  <strong>Hengerűrtartalom:</strong>
  <%= @car.cc %> cm3
</p>

<p>
  <strong>Kilométeróra állása:</strong>
  <%= @car.mileage %>
</p>

<p>
  <strong>Leírás:</strong>
  <%= @car.description %>
</p>

<%= link_to 'Vissza', cars_path %>
