<p id="notice"><%= notice %></p>

<p>
  <img id="cover" src=<%= @car.cover %>></img>
</p>

<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th><%= I18n.t 'adatok' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong><%= I18n.t 'show.manufacturer' %></strong></strong></td>
        <td><%= @car.manufacturer %></td>
      </tr>
      <tr>
        <td><strong><strong><%= I18n.t 'type' %></strong></strong></td>
        <td><%= @car.car_type %></td>
      </tr>
      <tr>
        <td><strong><%= I18n.t 'show.category' %></strong></td>
        <td><%= @car.category %></td>
      </tr>
      <tr>
        <td><strong><%= I18n.t 'show.origin' %></strong></td>
        <td><%= @car.year %></td>
      </tr>
      <tr>
        <td><strong><%= I18n.t 'show.fuel_type' %></strong></td>
        <td><%= @car.engine %></td>
      </tr>
      <tr>
        <td><strong><%= I18n.t 'show.engine_size' %></strong></td>
        <td><%= @car.cc %> cm3</td>
      </tr>
      <tr>
        <td><strong><%= I18n.t 'show.mileage' %></strong></td>
        <td><%= @car.mileage %></td>
      </tr>
      <tr>
        <td><strong><%= I18n.t 'show.descr' %></strong></td>
        <td><%= @car.description %></td>
      </tr>
    </tbody>
  </table><br>