<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t 'title' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/"><%= I18n.t 'title' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <!--<%= link_to t("navbar.new_car"), new_car_path%>-->
          </li>
        </ul>
        <%= form_tag(find_path, method: :get, class: "form-inline mt-2 mt-md-0") do %>
           <%= text_field_tag :manufacturer, "", class: "form-control mr-sm-2" %>
           <%= submit_tag t("search"), :class => "form-control mr-sm-2" %>
        <% end %>

      </div>
      <div id="nav">
      <% if current_user %>
        <%= link_to t("user.profile.edit"), edit_user_path(current_user.id) %>
        <%= link_to t("user.profile.logout"), :logout, method: :post %>
      <% else %>
        <%= link_to t("register"), new_user_path %> |
        <%= link_to t("login"), :login %>
      <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
    </nav>
  </header>
  <div class="header-placeholder">
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>
  </body>
</html>
